<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navbar.ejs') %>
    <div id="tour">
        <div class="w3-container w3-content w3-padding-64" style="max-width:1000px">
            <h1 class="w3-wide w3-center">Page Not Found!</h1>
        </div>
    </div>
   

<%- include('includes/footer.ejs') %>