<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-light-grey w3-wide w3-padding w3-card">
            <a href="#home" class="w3-bar-item w3-button"><b>Flight</b> TO THE MONE</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="#projects" class="w3-bar-item w3-button">Projects</a>
                <a href="#about" class="w3-bar-item w3-button">About</a>
                <a href="#contact" class="w3-bar-item w3-button">Contact</a>
            </div>
        </div>
    </div>

    <!-- Header -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1920px;" id="home">
        <img class="w3-image" src="../images/avion.jpg" alt="Architecture" width="100%" height="100%">
        <!-- <div class="w3-display-middle w3-margin-top w3-center">
            <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>BR</b></span> <span
                    class="w3-hide-small w3-text-light-grey">Architects</span></h1>
        </div> -->
        <div class="w3-display-middle" style="width:65%">
            <div class="w3-bar w3-black">
                <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Flight');"><i
                        class="fa fa-plane w3-margin-right"></i>Flight</button>
            </div>

            <!-- Tabs -->
            <div id="Flight" class="w3-container w3-border w3-border-black w3-padding-16 myLink">
                <form action="/offers/search">
                    <h3>Travel the world with us</h3>
                    <div class="w3-row-padding" style="margin:0 -16px;">
                        <div class="w3-half">
                            <label>From</label>
                            <input class="w3-input w3-border" type="search" name="LieuDepart"
                                placeholder="Departing from">
                        </div>
                        <div class="w3-half">
                            <label>To</label>
                            <input class="w3-input w3-border" type="search" name="LieuArriver"
                                placeholder="Arriving at">
                        </div>
                        <div class="w3-half">
                            <label>DAAE</label>
                            <input class="w3-input w3-border" type="date" name="SDate">
                        </div>
                    </div>
                    <p><button type="submit" class="w3-button w3-dark-grey">Search and find dates</button></p>
                </form>
            </div>
        </div>
    </header>
</body>

</html>