<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if(offers.length!=0){ var i=1; offers.forEach(function(data){ %>
        <ul>
            <!-- <li>
                <%=i; %>
            </li> -->
            <li>
                <%=data.lieu_depart %>
            </li>
            <li>
                <%=data.lieu_d_arriver %>
            </li>
            <li>
                <%=data.date %>
            </li>

        </ul>
        <% i++; }) %>
            <% } else{ %>
                <il>
                    <li>No Data Found</li>
                    </ul>
                    <% } %>
</body>

</html>