<div class="w3-top">
    <div class="w3-bar w3-light-grey w3-wide w3-padding w3-card">
        <a href="#home" class="w3-bar-item w3-button"><b>Flight</b> TO THE MONE</a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="/airline/index" class="w3-bar-item w3-button ">Home</a>
            <a href="/users/register" class="w3-bar-item w3-button">Register</a>
            <a href="/users/login" class="w3-bar-item w3-button">Login</a>
        </div>
    </div>
</div>